In [1]:
#pip install gmaps

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
%matplotlib inline

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kashi,CN,2021-04-10 00:38:20,39.4547,75.9797,280.15,65,0,2.00
1,1,Hobart,AU,2021-04-10 00:41:00,-42.8794,147.3294,287.15,47,40,7.20
2,2,Chokurdakh,RU,2021-04-10 00:41:23,70.6333,147.9167,251.31,90,92,5.31
3,3,Bredasdorp,ZA,2021-04-10 00:41:24,-34.5322,20.0403,290.15,94,100,2.27
4,4,La Ronge,CA,2021-04-10 00:41:26,55.1001,-105.2842,277.15,41,12,3.09

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

In [9]:
fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)


fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
cloud_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)


fig.add_layer(cloud_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent windspeed
locations = city_data_df[["Lat", "Lng"]]
windspeed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
windspeed_layer = gmaps.heatmap_layer(locations, weights=windspeed, dissipating=False, max_intensity=300, point_radius=4)


fig.add_layer(windspeed_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 250
What is the maximum temperature you would like for your trip? 275

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Chokurdakh,RU,2021-04-10 00:41:23,70.6333,147.9167,251.31,90,92,5.31
5,5,Barrow,US,2021-04-10 00:40:01,71.2906,-156.7887,250.15,70,1,5.14
8,8,Provideniya,RU,2021-04-10 00:41:33,64.3833,-173.3000,256.67,84,100,7.04
9,9,Pevek,RU,2021-04-10 00:41:35,69.7008,170.3133,251.26,86,45,1.41
15,15,Beringovskiy,RU,2021-04-10 00:41:43,63.0500,179.3167,259.56,93,100,8.98
21,21,Paamiut,GL,2021-04-10 00:41:51,61.9940,-49.6678,274.13,89,100,2.78
26,26,Dikson,RU,2021-04-10 00:41:58,73.5069,80.5464,269.87,92,100,13.63
34,34,Tasiilaq,GL,2021-04-10 00:42:11,65.6145,-37.6368,268.15,80,20,2.57
43,43,Pangnirtung,CA,2021-04-10 00:42:24,66.1451,-65.7125,258.60,95,95,2.59
45,45,Iqaluit,CA,2021-04-10 00:38:10,63.7506,-68.5145,259.15,72,75,6.17

In [31]:
# Confirm there are no "nulls" in your dataset
preferred_cities_df.count()

City_ID       99
City          99
Country       99
Date          99
Lat           99
Lng           99
Max Temp      99
Humidity      99
Cloudiness    99
Wind Speed    99
dtype: int64

In [32]:
# #Create a copy of the preferred cities dataframe to add hotels
# hotel_df = preferred_cities_df.copy()

In [33]:
#hotel_df.head()

In [34]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2     Chokurdakh      RU    251.31  70.6333  147.9167
5         Barrow      US    250.15  71.2906 -156.7887
8    Provideniya      RU    256.67  64.3833 -173.3000
9          Pevek      RU    251.26  69.7008  170.3133
15  Beringovskiy      RU    259.56  63.0500  179.3167
21       Paamiut      GL    274.13  61.9940  -49.6678
26        Dikson      RU    269.87  73.5069   80.5464
34      Tasiilaq      GL    268.15  65.6145  -37.6368
43   Pangnirtung      CA    258.60  66.1451  -65.7125
45       Iqaluit      CA    259.15  63.7506  -68.5145

In [35]:
# Set parameters to search for a hotel.
params = {
    "radius": 50000,
    "type": "lodging",
    "key": g_key
}

In [36]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [37]:
# 6.5.4

In [38]:
hotel_df.head()

            City Country  Max Temp      Lat       Lng        Hotel Name
2     Chokurdakh      RU    251.31  70.6333  147.9167
5         Barrow      US    250.15  71.2906 -156.7887    King Eider Inn
8    Provideniya      RU    256.67  64.3833 -173.3000
9          Pevek      RU    251.26  69.7008  170.3133  Severnoye Zoloto
15  Beringovskiy      RU    259.56  63.0500  179.3167      Beringgorski

In [41]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [42]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots.
locations_hotel = hotel_df[["Lat", "Lng"]]
max_temp_hotel = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer_hotels = gmaps.heatmap_layer(locations_hotel, weights=max_temp_hotel, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations_hotel, info_box_content = hotel_info)
fig.add_layer(heat_layer_hotels)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))